In [16]:
import pandas as pd
from pathlib import Path

In [17]:
# Use pathlib to set the relative file path
file_path = Path(r'..\Data\national_cousub2020.txt')

# Read the TSV file into a DataFrame
original_df = pd.read_csv(file_path, sep='|', dtype=str)  # Use '|' as a delimiter for TSV

# Display the first few rows of the DataFrame
original_df

,STATE,STATEFP,COUNTYFP,COUNTYNAME,COUSUBFP,COUSUBNS,COUSUBNAME,CLASSFP,FUNCSTAT
0,AL,01,001,Autauga County,90171,00161593,Autaugaville CCD,Z5,S
1,AL,01,001,Autauga County,90315,00165647,Billingsley CCD,Z5,S
2,AL,01,001,Autauga County,92106,00165648,Marbury CCD,Z5,S
3,AL,01,001,Autauga County,92628,00165649,Prattville CCD,Z5,S
4,AL,01,003,Baldwin County,90207,00161594,Bay Minette CCD,Z5,S
...,...,...,...,...,...,...,...,...,...
36635,VI,78,030,St. Thomas Island,61300,01939766,Northside subdistrict,Z5,N
36636,VI,78,030,St. Thomas Island,74800,01939770,Southside subdistrict,Z5,N
36637,VI,78,030,St. Thomas Island,78400,01939772,Tutu subdistrict,Z5,N
36638,VI,78,030,St. Thomas Island,82000,01939773,Water Island subdistrict,Z5,N
36639,VI,78,030,St. Thomas Island,82900,01939774,West End subdistrict,Z5,N

In [20]:
#Extract the the state date
state_df = original_df[['STATE', 'STATEFP']]

#Display the dataframe
state_df

      STATE STATEFP
0        AL      01
1        AL      01
2        AL      01
3        AL      01
4        AL      01
...     ...     ...
36635    VI      78
36636    VI      78
36637    VI      78
36638    VI      78
36639    VI      78

[36640 rows x 2 columns]

In [22]:
state_df['STATE'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'AS', 'GU', 'MP', 'PR',
       'UM', 'VI'], dtype=object)

In [23]:
original_df.columns

Index(['STATE', 'STATEFP', 'COUNTYFP', 'COUNTYNAME', 'COUSUBFP', 'COUSUBNS',
       'COUSUBNAME', 'CLASSFP', 'FUNCSTAT'],
      dtype='object')

In [28]:
county_df = original_df[['COUNTYNAME', 'STATE', 'COUNTYFP']]

county_df

              COUNTYNAME STATE COUNTYFP
0         Autauga County    AL      001
1         Autauga County    AL      001
2         Autauga County    AL      001
3         Autauga County    AL      001
4         Baldwin County    AL      003
...                  ...   ...      ...
36635  St. Thomas Island    VI      030
36636  St. Thomas Island    VI      030
36637  St. Thomas Island    VI      030
36638  St. Thomas Island    VI      030
36639  St. Thomas Island    VI      030

[36640 rows x 3 columns]